@media (max-width: 450px) {
    .cardBoxContent {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 25px 36px 25px;
    }

    .cardBoxPriceBar {
        background-color: hsl(225, 100%, 98%);
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 16px;
        margin-bottom: 32px;
        margin-top: 8px;
    }

    .priceBarPriceName {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 4px;
        white-space: nowrap;
    }

    .priceBarPriceValue {
        color: hsl(224, 23%, 55%);
        font-size: 14px;
    }

    .priceBarRight {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 14px;
        font-weight: bold;
        justify-content: flex-end;
    }

    #cardBox {
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0 10px 50px -30px hsl(224, 23%, 55%);
        border-radius: 20px;
        margin: 46px 0;
        max-width: 450px;
        width: 100%;
    }

    body {
        align-items: center;
        background-color: hsl(225, 100%, 94%);
        background-image: url('images/pattern-background-mobile.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: hsl(223, 47%, 23%);
        display: flex;
        flex-direction: column;
        font-family: "Red Hat Display",sans-serif;
        justify-content: center;
        margin: 24px;
    }
}

@media (min-width: 451px) {
    .cardBoxContent {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 50px 50px 50px;
    }

    .cardBoxPriceBar {
        background-color: hsl(225, 100%, 98%);
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 24px;
        margin-bottom: 32px;
        margin-top: 8px;
    }

    .priceBarPriceName {
        font-weight: bold;
        padding-bottom: 8px;
        white-space: nowrap;
    }

    .priceBarPriceValue {
        color: hsl(224, 23%, 55%);
    }

    .priceBarRight {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        justify-content: flex-end;
    }

    #cardBox {
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0 10px 50px -30px hsl(224, 23%, 55%);
        border-radius: 20px;
        margin: 76px 0;
        max-width: 450px;
        width: 100%;
    }

    body {
        align-items: center;
        background-color: hsl(225, 100%, 94%);
        background-image: url('images/pattern-background-desktop.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: hsl(223, 47%, 23%);
        display: flex;
        flex-direction: column;
        font-family: "Red Hat Display",sans-serif;
        justify-content: center;
        margin: 24px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.cardBoxCancel {
    color: hsl(224, 23%, 55%);
    font-weight: bold;
}

.cardBoxCancel:hover {
    color: hsl(223, 47%, 23%);
}

.cardBoxImage {
    border-radius: 20px 20px 0 0;
    height: auto;
    width: 100%;
}

.priceBarLeft {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.priceBarPrice {
    margin-left: 20px;
}

.priceBarRight a:hover {
    color: #746DEA;
    text-decoration: none;
}

body {
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    background-image: url('images/pattern-background-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(223, 47%, 23%);
    display: flex;
    flex-direction: column;
    font-family: "Red Hat Display",sans-serif;
    justify-content: center;
    margin: 24px;
}

button {
    background-color: hsl(245, 75%, 52%);
    border: 0;
    border-radius: 12px;
    box-shadow: 0 16px 35px -16px hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 32px;
    padding: 16px 0;
    width: 100%;
}

button:hover {
    background-color: #746DEA;
}

h1 {
    letter-spacing: 1px;
}

header {
    text-align: center;
}

p {
    color: hsl(224, 23%, 55%);
    line-height: 150%;
}